body { 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    height: 100vh;
    background: linear-gradient(#2A00B7,#42006C);

}